# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Java
*.class
*.ctxt

# C
*.o
*.out
*.obj
*.exe

# Code::Blocks
*.cbp
*.depend
*.layout
*.workspace

# BlueJ
*.bluej
package.bluej

# IntelliJ IDEA
.idea/
*.iml

# Sistema
.DS_Store
Thumbs.db
sync_log.txt

# Ignora todos os READMEs exceto o da raiz
**/README
!/README

# Ignora pastas de Build
bin/
build/